@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply bg-emerald-400;
  }
  .text-primary {
    @apply text-violet-600;
  }
  .text-warn {
    @apply text-red-500;
  }
  .underline-primary {
    @apply no-underline underline-offset-4 hover:underline hover:text-primary transition;
  }
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
  line-height: 2.75rem;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
  line-height: 2.75rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror h1 {
  font-size: 3rem;
}

.ProseMirror h2 {
  font-size: 2.75rem;
}

.ProseMirror h3 {
  font-size: 2.5rem;
}

.ProseMirror h4 {
  font-size: 2.25rem;
}

.ProseMirror h5 {
  font-size: 2rem;
}

.ProseMirror h6 {
  font-size: 1.75rem;
}

.ProseMirror p {
  line-height: 0;
}

.ProseMirror code {
  background-color: rgba(#b4b4b4, 0.1);
  color: inherit;
  padding: 0;
  font-size: 0.8rem;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #808080;
}

.ProseMirror hr {
  width: 100%;
  border: 1px solid #c6c6c6;
}
